/* 헤더 */
.header {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #ffb020;
    background-color: #ffb020;
    display: flex;
    justify-content: space-around;
    div {
        height: 40%;
        width: 10%;
        margin-top: 6%;
        color: #fff;
        .link, .back_btn {
            cursor: pointer;
            font-size: 2.5vw;
            color: #fff;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }
    h1 {
        text-align: center;
        color: #fff;
        font-size:xx-large;
        height: 100%;
        line-height: 7vw;
        margin: 0;
    }
}