@import "./variables.scss";
/* 세로모드 */
@include breakpoint(xxs) {
    .container {
        width:100vw;
        height: 100vh;
        border: 3px solid #ffb020;
        margin: 0 auto;
    }
}

@include breakpoint(xs) {
    .container {
        width:100vw;
        height: 100vh;
        border: 3px solid #ffb020;
        margin: 0 auto;
    }
}

@include breakpoint(s) {
    .container {
        width:100vw;
        height: 100vh;
        border-radius: 10px;
        border: 3px solid #22893c;
        margin: 0 auto;
    }
}

@include breakpoint(m) {
    .container {
        width:100vw;
        height: 100vh;
        border-radius: 10px;
        border: 3px solid #321397;
        margin: 0 auto;
    }
}

@include breakpoint(l) {
    .container {
        width:100vw;
        height: calc(107vh - 5vw);
        border-radius: 10px;
        border: 3px solid #a12f3e;
        margin: 0 auto;
    }
}

@include breakpoint(xl) {
    .container {
        width: 100vw;
        height: calc(108vh - 5vw);
        border-radius: 10px;
        border: 3px solid #440eb8;
        margin: 0 auto;
    }
}

@include breakpoint(xxl) {
    .container {
        width: 100vw;
        height: calc(109vh - 5vw);
        border-radius: 10px;
        border: 3px solid #de7684;
        margin: 0 auto;
    }
}

@media screen and (min-width:320px) and (max-width:767px) and (orientation: landscape) {
    section.container {
      display: none;
    }
    .landscape {
      display: block;
      margin: 20vh 10vw 0 10vw;
      h3 {
        font-size: 10vw;
      }
    }
  }